body {
	background-image: url('bg.svg');
	background-size: cover;
	background-position: center;
	width: 100%;
}

.adminappula {
	box-shadow:inset 0px 0px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:15px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.adminappula:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.adminappula:active {
	position:relative;
	top:1px;
}

.adminsivu {
	display: flex;
	flex-direction: row;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.adminpalsta {
	display: flex;
	flex: 1;
    flex-direction: column;
    align-items: center;
	justify-content: flex-start;
	width: 100%;
	max-width: 350px;
    gap: 15px;
	margin: 0 auto;
    padding: 25px 15px;
	border-width: 3px;
	border-style: solid;
	border-radius: 36px;
	border-color:#0e11e3;
	box-sizing: border-box;