.nappula {
	box-shadow: 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:22px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	width: 100%;
 max-width: 300px;
	box-sizing: border-box;
	text-align: center;
}

.nappula:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
	
}
.nappula:active {
	position:relative;
	top:1px;
}

.nappula1 {
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:22px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	width: 100%;
 max-width: 300px;
	box-sizing: border-box;
	text-align: center;
}
.nappula1:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.nappula1:active {
	position:relative;
	top:1px;
}

.laatikot {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	max-width: 800px;
	gap: 15px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

.palsta {
    display: flex;
	flex: 1;
    flex-direction: column;
    align-items: center;
	justify-content: flex-start;
	width: 100% !important;
	max-width: 350px !important;
    gap: 15px;
	margin: 0 auto !important;
    padding: 25px 15px;
	border-width: 3px;
	border-style: solid;
	border-radius: 36px;
	border-color:#eb2a2a;
	box-sizing: border-box;
}

#tulos-alue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kirjautuminen {
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 15px;
	max-width: 300px;
	padding: 15px;
}

#kentat {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 300px;
}

.syote {
	padding: 15px;
	width: 100%;
	max-width: 300px;
	font-size: 1.2rem;
	border-radius: 15px;
}