.saate {
	display: block;
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    word-wrap: break-word;
    color:black;
	font-size: 30px;
	font-family: Open Sans, sans-serif;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.palstatekstit {
    color:black;
    text-align: center;
	margin-top: 0;
	font-size: 30px;
	font-family: Open Sans, sans-serif;
	margin-bottom: 20px;
	min-height: 1.5em;
}