@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

.banner {
	background-image: url('banner.svg');
	background-size: cover;
	background-position: center;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 0 0 20px 20px;
}

.nappula {
	box-shadow: 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:22px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	width: 250px;
	box-sizing: border-box;
	text-align: center;
}

.nappula:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
	
}
.nappula:active {
	position:relative;
	top:1px;
}

.nappula1 {
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:22px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	width: 250px;
	box-sizing: border-box;
	text-align: center;
}
.nappula1:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.nappula1:active {
	position:relative;
	top:1px;
}

.sorola {
    color: red;
    text-align: center;
    margin-top: 40px;
	font-size: 60px;
	font-family: Open Sans, sans-serif;
}

.saate {
    color: black;
    text-align: center;
    margin-top: 60px;
	font-size: 30px;
	font-family: Open Sans, sans-serif;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.palstatekstit {
    color: black;
    text-align: center;
	margin-top: 0;
	font-size: 30px;
	font-family: Open Sans, sans-serif;
	margin-bottom: 20px;
	min-height: 3em;
}

.paasivu {
	display: flex;
	justify-content: center;
	gap: 80px;
	padding: 20px;
	flex-wrap: wrap;
}

.palsta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 50px;
	border-width: 3px;
	border-style: solid;
	border-radius: 36px;
	border-color: #FF9A33;
}

#lyhennetty-url {
    display: block !important;
    width: 100% !important;
    max-width: 300px !important;
    margin: 0 auto 20px auto !important;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center !important;
	font-size: 1.5rem !important;
    padding: 18px 10px !important;
    height: auto !important;
    line-height: 1.2 !important;
}

#tulos-alue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lyhennin {
	width: 100%;
	max-width: 500px;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 8px;
}

#lyhennin-lomake {
	width: 100%;
	max-width: 500px;
	height: 50px;
	align-items: center;
}

body {
    background-image: url('waves.svg');
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color:: #E0DDDA;

}













