@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url("elements.css");
@import url("texts.css");

* {
    box-sizing: border-box;
}

.banner {
	background-image: url('banner.svg');
	background-size: cover;
	background-position: center;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 0 0 20px 20px;
}

.sorola {
    color: red;
    text-align: center;
    margin-top: 40px;
	font-size: 60px;
	font-family: Open Sans, sans-serif;
}

.paasivu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-image: url('waves.svg');
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #E0DDDA;
}

body.yoteema {
    background-image: url('wavesnight.svg');
    background-color: #0b1120;
    color: #ffffff;
}	

.yoteema .palsta, .yoteema .lyhennin {
    background-color: #1e1e1e;
    border-color: #ffab23;
    color: #ffffff;
}

.yoteema .saate, .yoteema .palstatekstit {
    color: #ffffff;
}

#teeman-vaihto {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    padding: 10px 15px;
    font-size: 14px;
    z-index: 1000;

}
