@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

.banner {
	background-image: url('banner.svg');
	background-size: cover;
	background-position: center;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 0 0 20px 20px;
}

.nappula {
	box-shadow: 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:22px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	width: 300px;
	box-sizing: border-box;
	text-align: center;
}

.nappula:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
	
}
.nappula:active {
	position:relative;
	top:1px;
}

.nappula1 {
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:22px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	width: 300px;
	box-sizing: border-box;
	text-align: center;
}
.nappula1:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.nappula1:active {
	position:relative;
	top:1px;
}

.sorola {
    color: red;
    text-align: center;
    margin-top: 40px;
	font-size: 60px;
	font-family: Open Sans, sans-serif;
}

.saate {
    color:black;
    text-align: center;
    margin-top: 60px;
	font-size: 30px;
	font-family: Open Sans, sans-serif;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.palstatekstit {
    color:black;
    text-align: center;
	margin-top: 0;
	font-size: 30px;
	font-family: Open Sans, sans-serif;
	margin-bottom: 20px;
	min-height: 3em;
}

.paasivu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.palsta {
    display: flex;
	flex: 1;
    flex-direction: column;
    align-items: center;
	justify-content: flex-start;
	width: 100% !important;
	max-width: 350px !important;
    gap: 15px;
	margin: 0 auto !important;
    padding: 25px 15px;
	border-width: 3px;
	border-style: solid;
	border-radius: 36px;
	border-color:#eb2a2a;
	box-sizing: border-box;
}

#lyhennetty-url {
    display: block !important;
    width: 100% !important;
	min-width: 280px !important;
    max-width: 300px !important;
    margin: 0 auto 20px auto !important;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center !important;
	font-size: 1.5rem !important;
    padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
    height: auto !important;
    line-height: 1.2 !important;
}

#tulos-alue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lyhennin-lomake {
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 350px;
	gap: 15px;
	max-width: 400px;
	padding: 30px;
}

#kentat {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  gap: 15px
}

.qr {
    padding: 15px;
    width: 300px;
    border-radius: 22px;
    border: 1px solid #FF9A33;
    box-sizing: border-box;
}

body {
    background-image: url('waves.svg');
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #E0DDDA;
}

body {
    background-image: url('waves.svg');
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #E0DDDA;
}

body.yoteema {
    background-image: url('wavesnight.svg');
    background-color: #0b1120;
    color: #ffffff;
}	

.yoteema .palsta, .yoteema .lyhennin {
    background-color: #1e1e1e;
    border-color: #ffab23;
    color: #ffffff;
}

.yoteema .saate, .yoteema .palstatekstit {
    color: #ffffff;
}

#teeman-vaihto {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    padding: 10px 15px;
    font-size: 14px;
    z-index: 1000;

}
